#gitIgnore quindata
*/.metadata/**
*/.metadata/.lock
*/.metadata/.log
*/.metadata/version.ini
*.jdi/LocalDevelopment/.syncdb
*/.metadata/.plugins/org.eclipse.core.runtime/**
*/.metadata/.plugins/org.eclipse.jdt.ui/**
*/.metadata/.plugins/org.eclipse.ui.workbench/**
*/.metadata/.plugins/org.eclipse.pde.core/**
*/.metadata/.plugins/org.eclipse.jdt.core/**
*/.metadata/.plugins/org.eclipse.rse.core/**
*/.metadata/.plugins/org.eclipse.rse.ui/**
*/.metadata/.plugins/org.eclipse.wst.sse.core/**
*/.metadata/.plugins/org.eclipse.m2e.logback.configuration/**
*/.metadata/.plugins/org.eclipse.e4.workbench/**
*/.metadata/.plugins/org.eclipse.jdt.launching/**
*.jdi/LocalDevelopment/jdkPreferences.txt
*.jdi/LocalDevelopment/t*/**
*.jdi/LocalDevelopment/ENGFACADE/sap.com/engine.jee5.facade/_comp/.dcdef
*.jdi/LocalDevelopment/ENGFACADE/sap.com/engine.jee5.facade/_comp/def/api.pp
*.jdi/LocalDevelopment/ENGFACADE/sap.com/engine.jee5.facade/_comp/def/apiwithoutjsf.pp
*.jdi/LocalDevelopment/EP_BUILDT/sap.com/tc/bi/bp/pcd/_comp/.dcdef
*.jdi/LocalDevelopment/EP_BUILDT/sap.com/tc/bi/bp/pcd/_comp/def/def.pp
*.jdi/LocalDevelopment/EP_BUILDT/sap.com/tc/bi/eptech/_comp/def/def.pp
*.jdi/LocalDevelopment/EP_BUILDT/sap.com/tc/bi/extpcd/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/ant/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/ant/_comp/def/ant.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/ant/_comp/def/api.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/anttasks/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/anttasks/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/bp/webmodule/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/bp/webmodule/_comp/def/web.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/core/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/core/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/exception/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/exception/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extddicdb/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extddicdb/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extsld/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extsld/_comp/def/api.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extsld/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extsql/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/extsql/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/framework/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/framework/_comp/def/api.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/framework/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/i18n/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/i18n/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/javatech/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/javatech/_comp/def/api.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/javatech/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jdoc/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jdoc/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jdoc/util/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jdoc/util/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/gen/default/public/def/lib/eclipse/configuration/org.eclipse.update/platform.xml
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/gen/default/public/def/lib/eclipse/plugins/org.eclipse.equinox.launcher.win32.win32.x86_1.0.101.R34x_v20080731/about.html
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/gen/default/public/def/lib/eclipse/plugins/org.eclipse.equinox.launcher.win32.win32.x86_1.0.101.R34x_v20080731/launcher.win32.win32.x86.properties
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/jlincbs/_comp/gen/default/public/def/lib/eclipse/plugins/org.eclipse.equinox.launcher.win32.win32.x86_1.0.101.R34x_v20080731/META-INF/eclipse.inf
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/settings/_comp/def/version.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/util/_comp/def/util.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/velocity/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/velocity/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/xml/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/xml/_comp/def/def.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/lm/sl/metamodel/_comp/.dcdef
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/lm/sl/metamodel/_comp/def/api.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/lm/sl/metamodel/_comp/def/libinf.pp
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/bp/externalarchive/_comp/gen/default/public/lib/.buildplugin
*.jdi/LocalDevelopment/SAP_BUILDT/sap.com/tc/bi/bp/externalarchive/_comp/gen/default/public/lib/.bpfext
