<?xml version="1.0" encoding="UTF-8" standalone="no"?><info>
	<configuration importVersion="0" name="LocalDevelopment" remoteVersion="0"/>
	<compartment name="APP" variant="default"/>
	<compartment name="BPEM-BUILDT" variant="default"/>
	<compartment name="VCFREESTYLEKIT" variant="default"/>
	<compartment name="BRMS-BUILDT" variant="default"/>
	<compartment name="SERVICE-COMP" variant="default"/>
	<compartment name="PI-SCP-BUILDT" variant="default"/>
	<compartment name="ECM-CORE" variant="default"/>
	<compartment name="MOIN_BUILDT" variant="default"/>
	<compartment name="VTP_BUILDT" variant="default"/>
	<compartment name="WD-RUNTIME" variant="default"/>
	<compartment name="SAP_BUILDT" variant="default"/>
	<compartment name="WDEXTENSIONS" variant="default"/>
	<compartment name="EP-BASIS" variant="default"/>
	<compartment name="ENGFACADE" variant="default"/>
	<compartment name="EP-RUNTIME" variant="default"/>
	<compartment name="CAF-MF" variant="default"/>
	<compartment name="BPEM-MM" variant="default"/>
	<compartment name="EP-BASIS-API" variant="default"/>
	<compartment name="FRAMEWORK-EXT" variant="default"/>
	<compartment name="BPEM-ACC" variant="default"/>
	<compartment name="BPEM-COLLAB" variant="default"/>
	<compartment name="ENGINEAPI" variant="default"/>
	<compartment name="MMR_SERVER" variant="default"/>
	<compartment name="BRMS-FACADE" variant="default"/>
	<compartment name="VCFRAMEWORK" variant="default"/>
	<compartment name="BPEM-FACADE" variant="default"/>
	<compartment name="CAF" variant="default"/>
	<compartment name="ESCONF_BUILDT" variant="default"/>
	<compartment name="SAP_XIAF" variant="default"/>
	<compartment name="COMP_BUILDT" variant="default"/>
	<compartment name="MyComponents" variant="default"/>
	<compartment name="J2EE-FRMW" variant="default"/>
	<compartment name="ESMP_BUILDT" variant="default"/>
	<compartment name="GP-CORE" variant="default"/>
	<compartment name="EP_BUILDT" variant="default"/>
	<compartment name="SEA-FACADE" variant="default"/>
	<compartment name="FRAMEWORK" variant="default"/>
	<compartment name="SERVERCORE" variant="default"/>
	<compartment name="UISAPUI5_JAVA" variant="default"/>
	<compartment name="BPEM-CONTENT" variant="default"/>
	<compartment name="WSRM" variant="default"/>
</info>